
html {
    background-color:#020000 ;
    font-family: system-ui, -apple-system;
    color:#d3bf93 ;
}
body {
    margin: 0;
}
header{
    padding: 12px;
}
footer{
    background-color:burlywood ;
    margin-top: 500px;
    padding: 24px;
    color: #73aba4;
    font-weight: bold;
}
